/*GENERAL STYLES*/
html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

body {
    box-sizing: border-box;
    min-height: 100%;
    height: 100%;
    width: 100%;
    border-top: 5px solid #bd8a00;
    background: #363636;
    font-family: 'Open Sans', sans-serif;
    color:#949494;
    margin: 0;
}
h1 {
    color: blue;
}
p {
    color: rgb(199, 199, 199);
    font-family: 'Open Sans', sans-serif;
}


footer {
    text-align: left;
    color: goldenrod;
    font-family: 'Open Sans', sans-serif;
}


table {
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    border-collapse: collapse;
}




iframe{
    margin: auto;
    width: 100%;
    height: 85%;
    border: none;
}



/* Drop Down menu */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    max-width: 100%;
    width: auto;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdownMenu {
    position: relative;
    display: inline-block;
}

.dropdownMenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    max-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownMenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownMenu a:hover {background-color: #f1f1f1}


.dropdownMenu p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownMenu p:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.show {display:block;}
