body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-top: 5vh solid transparent;
    background: #363636;
    font-family: 'Open Sans', sans-serif;
    color:rgb(255, 255, 255);
    margin: 0;
}

form{
    margin: auto;
    text-align: center;
}