body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-top: 5vh solid transparent;
    background: #363636;
    font-family: 'Open Sans', sans-serif;
    color:rgb(255, 255, 255);
    margin: 0;
}

div, p{
    margin: auto;
    text-align: center;
}

img {
    margin: auto;
    max-width: 5%;
    width: auto;
	padding-top: 5px;
    max-height: 15%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
