/* LAB 1 */

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-top: 5vh solid transparent;
    background: #363636;
    font-family: 'Open Sans', sans-serif;
    color:black;
    margin: 0;
}

table{
    margin: auto;
    border: solid black 2px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    background-color: #949494;
}
th{
    border: solid black 1px;
    font-weight: bold;
    color: black;
}
tr{
    border: solid black 1px;
}
td{
    border: solid black 1px;
}

#nota_Positiva{
    background-color: green;
}
#nota_Negativa{
    background-color: red;
}